@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ggsans';
    font-style: normal;
    font-display: swap;
    src: url('/src/assets/fonts/ggsans-Normal.ttf') format('woff2');
  }
  @font-face {
    font-family: 'ggsansl';
    font-style: normal;
    font-display: swap;
    src: url('/src/assets/fonts/ggsans-Semibold.ttf') format('woff2');
  }
  @font-face {
    font-family: 'ggsansxl';
    font-style: normal;
    font-display: swap;
    src: url('/src/assets/fonts/ggsans-ExtraBold.ttf') format('woff2');
  }
}

@layer utilities {
  .sidebarHover:hover::-webkit-scrollbar {
    display: block;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none;
  }

  .scrollbar-track::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background: #1e1f22;
    border-radius: 100vh;
  }

  .scrollbar-thumbhover::-webkit-scrollbar-thumb:hover {
    background: #4d4e57;
  }

  .friendList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .serverList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .friendList-track::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .serverScrollbar::-webkit-scrollbar {
    display: none;
  }

  .friendList-thumb::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 100vh;
  }

  .friendList-thumbhover::-webkit-scrollbar-thumb:hover {
    background: #4d4e57;
  }

  .mobile::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .mobile-track::-webkit-scrollbar-track {
    background: #313338;
  }

  .mobile-thumb::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 100vh;
  }

  .mobile-thumbhover::-webkit-scrollbar-thumb:hover {
    background: #4d4e57;
  }
}